/* YOUR CUSTOM STYLES */

/*#four-o-text h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
	letter-spacing: 0.3px;
  color: #ffffff;
}

#four-o {
	font-size: 400px;
  position: absolute;
  right: -20px;
  bottom: 100px;
}

#fuhrpark {
	font-size: 50px;
  position: absolute;
  right: 412px;
  bottom: 157px;
}

#line {
	width: 618px;
	height: 4px;
	background-color: #ffffff;
	position: absolute;
  bottom: 144px;
  right: 0px;
}

#four-o-caption {
  position: absolute;
  bottom: 36px;
  right: 30px;
  font-family: 'Lato';
  font-size: 36px;
  font-weight: 300;
  text-align: right;
  letter-spacing: 0.2px;
}*/
